{{!-- movies.hbs --}}
{{!-- Copyright (c) 2024 Ishan Pranav --}}
{{!-- Licensed under the MIT License. --}}

{{#if director}}
<div class="pb-3 text-body-secondary border-bottom small">
    <span>
        {{#if foundData.length}}
        Showing only movies directed by {{ director }}.
        {{else}}
        No results for movies directed by {{ director }}.
        {{/if}}

        Click
    </span>
    <a class="text-decoration-none" href="/movies">here</a>
    <span>to show all movies.</span>
</div>
{{else}}
{{#if added}}
<div class="pb-3 text-body-secondary border-bottom small">
    {{#if foundData.length}}
    <span>Showing only movies that you've added recently. Click</span>
    <a class="text-decoration-none" href="/movies">here</a>
    <span>to show all movies.</span>
    {{else}}
    <span>You haven't added any movies yet. Click</span>
    <a class="text-decoration-none" href="/movies/add">here</a>
    <span>to add one now.</span>
    {{/if}}
</div>
{{/if}}
{{/if}}

{{#if foundData.length}}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Year</th>
            <th scope="col">Director</th>
        </tr>
    </thead>
    <tbody>
        {{#each foundData}}
        <tr>
            <td>{{ title }}</td>
            <td>{{ year }}</td>
            <td>{{ director }}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}
